* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: royalblue;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

main {
  min-height: 100vh;
  width: 100%;
}

fieldset {
  padding: 2rem;
  height: 450px;
  width: 80%;
}

.box-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 10px;
}


label {
  color: #272727;
  font-size: 1.5rem;
}

input {
  background-color: rgb(236, 236, 236);
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 10px;
}

button {
  padding: 1.2rem;
  border-radius: 10px;
  border: none;
  background-color: royalblue;
  color: #fff;
  transition: all ease .2s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

